<h2> ShoeBox Account </h2>

<p>
Thank you for logging into ShoeBox. Registered users get all the benefits of our shoebox
website!
</p>

 <%= button_to 'Logout', logout_path, :method => :delete %>
 
 <HR>
