<h1>Here's Joe's Second Big Secret:</h1>
<p>
  (<em>Pssst:</em> Joe likes Fair Trade Tea)<br/>
  <strong>Hush hush now!</strong>
</p>
<p>
  <%= link_to "On to Joe's 1st secret", secret_secret1_path %><br/>
  <%= link_to 'Logout', logout_path, :method => :delete %>
</p>
