<h1> Announcements </h1>

<p> 
	We wanted to give you a taste of where ShoeBox will be headed. Streaming has become a very popular thing in the online
	gaming community. While we already support (and will continue to support) our video and blog community, we will also be adding
	in support for streams to be shown on ShoeBox.
</p>

<p> 
	Below is a quick example where we will be able to show a user's live stream with a live chat integrated all in real time.
	This will allow users more flexibility in finding streams they interest them and allow more sharing between the community.
	We will also be allowing clients to integrate their accounts to the STEAM service and to update their profiles with more
	gaming information to better allow fellow ShoeBox members to find friends to game with at desired times. While these are
	just small examples, we hope you are as excited about them as we are!
</p>


<object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" 
data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=peter1123" bgcolor="#000000">
<param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" />
<param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
<param name="flashvars" value="hostname=www.twitch.tv&channel=peter1123&auto_play=true&start_volume=25"  /></object>

<iframe frameborder="0" scrolling="no" id="chat_embed" src="http://twitch.tv/chat/embed?channel=peter1123&amp;popout_chat=true" 
height="378" width="350"></iframe>


<HR>
