<h1> Privacy Policy </h1>

<h5> Disclaimer </h5>
	<p> 
		While we make reasonable efforts to provide accurate and timely information about ShoeBox on this site, you should not assume that
		the information provided is always up to date or that this site contains all the relevant information available about ShoeBox. 
	</p>
	
<h5> Credits </h5>
	<p>
		This site is used for nonprofit educational purposes and does not represent any sort of business and does not claim the ShoeBox
		name. If you have any questions please <%= link_to "contact us.", home_contact_path %>
	</p>

<h5> Our Privacy Policy </h5>
	<p>
		Any personal information that you may share with ShoeBox is not garunteed to be private. While we do not garuntee absolute
		privacy, neither your name nor anything about you is sold or shared with any other company or agency. Occasionally, we may
		contact you to make you aware of upcoming products or specials. However, we do respect your right to privacy and will not send
		notices if you do not first agree to recieve notices.
	</p>

<HR>