<h1> ShoeBox Support </h1>

	<div id="contactInformation">
		<h5> For any questions and or problems please fill out and submit the form.
			 We will contact you as soon as possible!</h5>
		
			<form name="customerInformation">
				<p>Name: <input type="text" name="txtFirstName" maxlength="50" /></p>
				<p>Email: <input type="text" name="txtAddress" maxlength="50" /></p>
				<p>Comments: <input type="text" name="txtPhoneNumber" maxlength="50" /></p>
				<br />
				
				<p><input type="submit" name="btnSubmit" value="Send" onClick="readFormData()" /></p>
			</form>
	</div>

<HR>

